@import url(cores.css);

body{
    background-color: var(--cor-fundo-header);
   
}

.receita-detalhe{
    width: 50vw;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(rgb(0), 0, 0, 0.426);
    background-color: var(--cor-main);
}
.receita-detalhe H2{
    text-align: center;
    font-size: 1.83mm;
    margin-bottom: 20px;
}

.img-receita{
    display: block;
    width: 60%;
    margin: 10px auto;
    border-radius: 12px ;
 height: auto;   
}

main > section > H2{
   text-align: center;
   font-size: 1.8em;
}
.receita-detalhe h3{
margin-top: 20px;
margin-bottom: 15px;
color: var(--titulo-h3);
font-family: 'Times New Roman', Times, serif;
}

.receia-detalhe ul, .receit-detalhe ol {
    margin-left: 20px;
    line-height: 1.6;
}

footer{
    position: relative;
    width: 100%;
}