body{
    margin: auto;
    width: 50vw;
}
      
#viagem{
    text-align: center;
    color: black;
    background-color: gray;
    font-size: 50px 
    
}
#Paris{
    color: rgb(231, 76, 60);
    background-color: rgb(218, 90, 81);
    font-size: 30px;
    text-align: left;
}

#P1{
    text-align: left;
}
#P2{
    text-align: left;
}
#P3{
    text-align: left;
}

#Roma{
    color: rgb(231, 76, 60);
    background-color: rgb(218, 90, 81);
    font-size: 30px;
    text-align: left;
}

#R1{
    text-align: left;
}

#R2{
    text-align: left;
}

#R3{
    text-align: left;
}

#Kyoto{
    color: rgb(231, 76, 60);
    background-color: rgb(218, 90, 81);
    font-size: 30px;
    text-align: left;
}

#K1{
    text-align: left;
}

#K2{
    text-align: left;
}

#K3{
    text-align: left;
}

#MA{
    color: rgb(48, 174, 96);
    background-color: rgb(233, 247, 239);
}
#Grand{
    color: rgb(48, 174, 96);
  background-color: rgb(233, 247, 239);
    text-align: left;
}

#G1{

}
#G2{

}

#G3{

}

#Amazonia{

}

#A1{

}

#A2{

}

#A3[

]

#Barrier{

}

#B1{

}
#B2{

}

#B3{

}

#Cidades{

}

#Nova{

}

#N1{

}

#N2{

}

#N3{

}

#Barcelona{

}

#S1{

}

#S2{

}

#S3{

}

#Bangkok{

}

#O1{

}

#O2{

}

#O3{

}

#Ex{

}

#Je{

}

#J1{

}

#J2{

}

#J3{

}

#Mr{

}

#E1{

}

#E2{

}

#E3{

}

#Veneza{

}

#V1{

}

#V2{

}

#V3{
    
}